@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
}

.main {
    height: 100vh;
    width: 100vw;

    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    z-index: -1;
    filter: blur(30px);
}

.process {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: #fff;

    font-size: 56px;
    font-weight: 400;

    padding: 30px;

    z-index: 1;
}